NODE_ENV=development
PORT=3000

DATABASE_URL=postgresql://dev:dev@localhost:5432/blood_sugar
REDIS_URL=redis://localhost:6379

KEYCLOAK_BASE_URL=http://localhost:8080
KEYCLOAK_REALM=blood-sugar
KEYCLOAK_CLIENT_ID=blood-sugar-api
# KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_JWKS_URL=http://localhost:8080/realms/blood-sugar/protocol/openid-connect/certs
# KEYCLOAK_ISSUER=http://localhost:8080/realms/blood-sugar
# KEYCLOAK_AUDIENCE=blood-sugar-api
